<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sachin Singh Baghel </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Explora&family=Poiret+One&family=Rubik:wght@700&family=Ubuntu:wght@500&display=swap');
    </style>
</head>

<body
    style="background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);  height: 50rem;">
    <style>
        h1,
        h3 {
            font-family: 'Poiret One', cursive;

        }
    </style>
    <div class="container d-flex justify-content-center  ">
        <div class="text-center m-5  p-4">
            <img src="web_pic.jpg" alt="" width="188" class="rounded-circle  ">
            <h1 class="text-light mb-4">Hello everyone welcome to my website !! </h1>
            <h3 class="text-light mb-3">How are you?</h3>
            <a class="btn btn-dark shadow mt-3" style="background-color: blue;" href="https://www.Kamingo.in"> <img
                    src="face.png" alt="" width="21"> Kamingo </a>
            <a class="btn btn-danger mt-3" style="background-color: red;" href="https://www.instagram.com/mr_ssb__/"><i
                    class="fa-brands fa-instagram text-light"></i>
                Instagram</a>
            <a class="btn btn-dark shadow mt-3" style="background-color: blueviolet;"
                href="https://github.com/Sachin-Singh-Baghel"> <i class="fa-brands fa-github text-light"> </i>
                Github</a>
            <a class="btn btn-dark shadow mt-3" style="background-color: #3B5998;"
                href="https://www.facebook.com/sachu.singh.7547"><i class="fa-brands fa-facebook text-light"></i>
                Facebook</a>
            <a class="btn btn-primary shadow mt-3" style="background-color: #0077b5;"
                href="https://www.linkedin.com/in/sachin-baghel-9ab84a180/"><i
                    class="fa-brands fa-linkedin text-light"></i> Linkedin</a>
            <div>
                <a class="btn btn-primary shadow mt-2 text-dark " style="background-color: white;" href="/contact">
                    CONTACT ME </a>

            </div>
        </div>


    </div>
    <div class="container d-flex justify-content-center">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header bg-dark fw-bold text-light">Unlimited Chats and Massages </div>
            <div class="card-body text-dark">
                <div class="text-center">
                    <i class="fa-solid fa-infinity" style="font-size: 5rem;"></i>
                    <!-- <h5 class="card-title">Rajvendra Rahi </h5> -->
                </div>

                <div class="">
                    <p class="card-text ">With over 2B active users, it is the most convenient and comfortable channel to
                        reach a use. Connect and start conversation with the maximum numbers of users in same budget.</p>
    
                </div>
            </div>
        </div>
    </div>




</body>

</html>